UseColor: true

Checks: >
    bugprone-*,
    cppcoreguidelines-*,
    google-*,
    performance-*,
    -*pb.h,
    -bugprone-easily-swappable-parameters,

HeaderFilterRegex: "^(?!.*\\.pb\\.h).*"

WarningsAsErrors: "*"
